.App {
    text-align: center;
}
.nav-logo {
    width: 70px;
    display: block;
    pointer-events: none;
}

.s-pic {
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.carusel{
    height: 500px;
}

.home-paragraph {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin: 0 100px;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #0D2D46;
    color: #fff;
}

.home-color{
    background-color: #0D2D46; 
    color: #fff;
    margin: 0 0 0 0;
   
}
.border-color{
    background-color: #1C5488;
}

.event-card{
    height: 160px!important;
}

.map-card{
    width:160px!important;
}
.event-card-overlay {
    background-color: rgba(255, 255, 255, 0.4);
}

.event-card-image {
    object-fit: cover;
    object-position: center;
}